[2017-10-03 13:59] pedrobaeza opened #4 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x]  apps_download - By @bizzappdev - #12
- [x]  apps_product_creator - By @tarteo - #9

[2017-10-03 16:41] lasley commented on #4
IMO we should switch the default branch of this one back to 10.0 in order to match our mainline development.

[2017-10-03 16:57] pedrobaeza commented on #4
Right, done!

[2018-03-17 08:58] elicoidal opened #7 "[RFC] Apps Store front end"
# Introduction
The modules on this repository aim to build an apps store based on:
* Standard Odoo v10 ecommerce
* Github Connector

Currently 2 modules are available `apps_product_creator` and `apps_download` linked to github-connector modules which information is used to create one product per module:

* `apps_product_creator` will check the new modules in the repositories and create or update t

[2018-03-17 08:58] elicoidal commented on #7
@OCA/board Please have a look so that we can finish the requirement description

[2018-03-17 09:01] bizzappdev commented on #7
@elicoidal  once we have approval we can start working on it, just we will need support for the phantomJS test cases rest we can take care.

[2018-03-17 11:16] pedrobaeza commented on #7
Module details (summary, name, description...) should be dynamic depending on the selected version.

[2018-03-17 11:43] elicoidal commented on #7
If possible, much better!

[2018-03-17 11:52] bizzappdev commented on #7
Based on variant selection ofcause it will be possible to get values for a specific version.

[2018-03-17 12:58] max3903 commented on #7
* License: Should be a link to the license on the OSI website
* Author: Should be a link to the Partner page
* Add the "Maintainer" from the manifest file with a link to the Contributor page

[2018-03-19 01:11] elicoidal commented on #7
No Problem

@max3903 we cannot do that because there are multiple possible partner in the key.

Not sure how the maintainer key is defined (url to github account?). I keep it generic now. We could improve later.

[2018-03-20 12:53] jgrandguillaume commented on #7
LGTM :+1:

[2018-03-20 17:10] elicoidal commented on #7
@bizzappdev I think we can move forward: do you have contributors ready to help?

[2018-03-21 07:47] bizzappdev commented on #7
@elicoidal  we can start the development from the Monday.

[2018-03-21 08:51] elicoidal commented on #7
Fantastic!

[2018-03-30 01:00] elicoidal commented on #7
@bizzappdev Could you let me know about progress?

[2018-03-30 14:18] bizzappdev opened #8 "apps_product_creator: External ID not found attribute_odoo_version"
Hello !
We have used
Odoo Version attribute in Py file for creating Product's variants
https://github.com/OCA/apps-store/blob/10.0/apps_product_creator/models/odoo_module.py#L90
But it has been added from the demo data.
https://github.com/OCA/apps-store/blob/10.0/apps_product_creator/__manifest__.py#L22
https://github.com/OCA/apps-store/blob/10.0/apps_product_creator/demo/product_attribute.xml#L6

[2018-03-30 14:19] bizzappdev commented on #8
@espo-tony @RoelAdriaans-B-informed  our opinion is needed

[2018-03-30 14:40] espo-tony commented on #8
This point was already discussed here:
https://github.com/OCA/apps-store/pull/2#discussion_r150639208

Personally I think there are good reason to place this either in data or in demo.

[2018-03-30 14:57] bizzappdev commented on #8
In my opinion, if we are using it is our code then it should be in data. once it will be isntalled on OCA website. they are not going to install demo data ;).
and if we have to have this in demo data then we should have to create a configuration for the Attribute to be used for the creating variant based on odoo version.
not sure . right now without demo data module is not workable.

[2018-03-30 15:00] bizzappdev commented on #8
@legalsylvain can you also review.

[2018-04-01 07:41] elicoidal commented on #8
IMO, the version attribute should be data, not demo.
We are building a tool for Odoo modules and this is specific to Odoo and wont change. I see no harm of having it as data.
We can still have a couple of values for Demo data too.

[2018-04-04 05:38] elicoidal commented on #8
@bizzappdev Do you have enough information to move forward?
Can we close this issue?

[2018-04-04 05:43] bizzappdev commented on #8
@elicoidal  YEs, I was about to ask what is the procedure to get confirmation :) Wee have already started things internally with the changes. but have not committed because I was not sure, I was under the impression we need 2 approval or something. but if you say so I can commit the changes. and continue to work as per new changes,

[2018-04-04 07:42] elicoidal commented on #8
No feedback so let's move on.

[2018-04-04 07:44] bizzappdev commented on #8
okay

[2018-04-09 23:49] #8 closed

[2018-04-09 23:50] elicoidal commented on #7
@bizzappdev Could you let me know about progress?

[2018-04-10 13:25] bizzappdev commented on #7
@elicoidal  sorry I am still on leave will be back in the office on Friday, we have already some progress on the website design. and also we have to add the support for creating dependency product while creating a product from the module. that is still to do.

[2018-04-11 00:19] elicoidal commented on #7
@bizzappdev Great: let me know when I can start reviewing or testing!

[2018-04-26 00:40] elicoidal commented on #7
Hi @bizzappdev
any news? We need to move forward quickly now. Let us know how we can help

[2018-07-21 03:19] st-aprajapati opened #11 "Product variants are not created for new module versions, if product variants related to old module versions are already created."
Steps to reproduce issue:
1) Go to Github menu → Repositories → Click on Branches sync.
2) Click on “Branches” button.
3) Select any branch. For example v9.
4) Click on “Download Source Code”.
5) Click on “Analyze Source Code”.
6) Go to settings → Automation → Scheduled Actions and run scheduler of “Create product variants for each module version“.
7) It will create product template and variants f

[2018-07-21 06:30] bizzappdev commented on #11
@st-aprajapati Please try this with https://github.com/OCA/apps-store/pull/10 it is working properly with dependency.

[2018-07-21 08:18] st-aprajapati commented on #11
@bizzappdev  Ok, I will try.

[2018-08-09 08:05] elicoidal commented on #4
@bizzappdev we would like to migrate our ERP to v11 and use your development.
Do you think it is possible for you to migrate the current developments in August?
If possible could you please contact me via PM?
cc @gdgellatly

[2018-08-09 08:39] bizzappdev commented on #4
@elicoidal  yes sure we can plan for the migration of this repo in August.

[2018-08-09 08:40] elicoidal commented on #4
@bizzappdev that would be wonderful news!

[2018-08-09 08:52] bizzappdev commented on #4
@elicoidal  we are stating migration of code from Monday. let me know if you have any special instruction or something.

[2018-08-09 09:21] elicoidal commented on #4
@bizzappdev Thanks a lot for the reactivity!
@gdgellatly will help on the specifics

[2018-08-23 22:16] gdgellatly commented on #4
@bizzappdev I'm not sure I have any specifics atm, but ping me if you need me.  The work which hooks into this is currently under review and isn't really tightly coupled.  Really just hyperlinks to modules.  They have just been using website_sale and the github connectors for testing.

How is it going anyway?

[2018-08-24 06:02] bizzappdev commented on #4
@gdgellatly I do not get completely what you are trying to point out for the hyperlinks to modules. and website_sale and GitHub.
the migration of the modules is in progress. and I hope it will be ready by next week for review and test.

[2018-08-24 12:53] gdgellatly commented on #4
@bizzappdev in the OCA/oca-custom repo there are some v11 PR's that depend (kind of) on the apps-store web front end being migrated to v11.

Basically you will be able to click on a member or company and it will list their modules.

But they only link to pages, nothing really tightly integrated, and because apps-store really just extends website_sale to date the work has all been done using just t

[2018-08-31 03:36] elicoidal commented on #4
@bizzappdev How is the migration going? Anything we can help with?

[2018-09-05 00:48] elicoidal commented on #4
@bizzappdev Any feedback?

[2018-09-05 05:41] bizzappdev commented on #4
@elicoidal  last final testing is needed from our side then we can submit the PR. it will be done by today only.

[2018-09-05 07:21] elicoidal commented on #4
Whouaou! that would be wonderful news
cc @gdgellatly

[2018-09-27 00:02] OCA-git-bot opened #13 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] apps_download - By @victormmtorres - #60
- [x] apps_product_creator - By @victormmtorres - #59

[2018-09-28 14:22] #4 closed

[2018-09-29 09:13] elicoidal commented on #7
#12 fix it for v11

[2018-09-29 09:13] #7 closed

[2018-09-29 09:14] #11 closed

[2018-10-03 15:18] elicoidal opened #26 "Connexion is not secure in https://odoo-community.org/shop"
![screenshot from 2018-10-03 17 17 24](https://user-images.githubusercontent.com/7600613/46420393-39fc6500-c730-11e8-8b73-bd4a27bcac42.png)

Some images shows insecure connection.

[2018-10-03 15:20] elicoidal opened #27 "[RFC] Module sorting should be improved"
Currently arriving on firs page are displayed modules from v6.1, starting with W. The sorting is not clear.
I suggest sorting by latest version then alphabetical order or commit date.

cc @OCA/board @bizzappdev @StephanRozendaal @RoelAdriaans

[2018-10-03 15:22] elicoidal opened #28 "Front page image size is uneven"
![screenshot from 2018-10-03 17-21-01](https://user-images.githubusercontent.com/7600613/46420645-ceff5e00-c730-11e8-9612-9440bf122520.png)

All front page logos should be displayed with the same size.

[2018-10-03 15:33] elicoidal opened #29 "[RFC] Filters button are redundant"
![screenshot from 2018-10-03 17 30 30](https://user-images.githubusercontent.com/7600613/46421285-1a663c00-c732-11e8-88f7-d83b01ab3e83.png)

I would tend to keep the top button to give more space to the modules list.

cc @OCA/board @bizzappdev @StephanRozendaal @RoelAdriaans

[2018-10-03 15:36] elicoidal opened #30 ""Sort by" - add more sorting options"
Record the download numbers in the variant
Add the possibility to sort by:
* download number
* Most rated

![screenshot from 2018-10-03 17 35 37](https://user-images.githubusercontent.com/7600613/46421651-daec1f80-c732-11e8-8a27-ea2547301b4c.png)

[2018-10-03 15:39] elicoidal opened #31 "Module missing manifest information"
![screenshot from 2018-10-03 17 37 39](https://user-images.githubusercontent.com/7600613/46421741-138bf900-c733-11e8-9600-517dc6c5d397.png)

"False" should be removed
missing information from the manifest: is it logical?
* technical name
* License
* Author
* Website
* Repository

[2018-10-03 15:42] elicoidal opened #32 "Searching for author returns no result"
![screenshot from 2018-10-03 17-41-17](https://user-images.githubusercontent.com/7600613/46421972-9d3bc680-c733-11e8-8b1b-59a422d3e6de.png)

[2018-10-04 05:41] elicoidal opened #33 "Discrepency in the number of products/variants in backend"
In products:
![screenshot from 2018-10-04 07 37 48](https://user-images.githubusercontent.com/7600613/46454855-a87d0980-c7a8-11e8-8001-3d62be16d52f.png)

In variants
![screenshot from 2018-10-04 07 39 21](https://user-images.githubusercontent.com/7600613/46454859-adda5400-c7a8-11e8-9bbf-772cf54ea815.png)

Besides the field "Odoo Module" appears 2 times in the list of fields in the product variant

[2018-10-04 07:21] RoelAdriaans commented on #33
The difference in products and variants it too be expected:

- Product template is the module (For example, audit_log)
- Product variant is the version (7.0, 8.0, 9.0, 10.0, 11.0)

[2018-10-04 07:27] bizzappdev commented on #33
Indeed. Also in product variant it is the m2o to odoo module version. (Might be change needed to have proper caption). And in product template it is odoo module.

[2018-10-04 07:50] pedrobaeza commented on #33
Closing as answered.

[2018-10-04 07:50] #33 closed

[2018-10-04 08:50] hbrunn opened #34 "Maturity level: PR"
during some discussions at the code sprint I got the impression most unrest about reviews, conventions and merging stems from the fact that stuff has to be merged to be visible, and that's what people care for much more than the actual merge.

So why don't we approach the maturity slightly differently: We scan open PRs for the ones that add a module, that should be simple to detect. If the PR is d

[2018-10-04 09:39] elicoidal commented on #34
I like the idea. We need to see technically how to do it but it would allow to give a sense of what would land in the repository.
:+1:

[2018-10-04 10:08] sbidoul commented on #34
Sounds like a good idea to me.

[2018-10-04 10:17] pedrobaeza commented on #29
For me it's the contrary. You should remove the left part, and it's possible directly from customize view.

[2018-10-04 10:22] bizzappdev commented on #29
@elicoidal @gurneyalex  @pedrobaeza  we can just remove those options from the configuration of the Shop. someone from you guys has to take care for more please find a screenshot. Just disable the e-commerce category and Product attribute filter option
![selection_212](https://user-images.githubusercontent.com/4273984/46468216-780b8e80-c7ed-11e8-9333-2fa4bd86e698.jpg)

[2018-10-04 14:22] elicoidal commented on #29
Done :+1:

[2018-10-04 14:46] hbrunn commented on #34
In pseudo python I'd think of something like this:

[code]

Doing this only for green branches would give people a good incentive to help greenifying branches...

[2018-10-04 15:13] elicoidal commented on #34
Will have to deal with the green/red <-> active/inactive product (might be a bit confusing for users because products might disappear overnight).
Been Alpha I think user will understand that there might be glitches.

[2018-10-04 15:47] hbrunn commented on #34
well, there are a _lot_ of PRs which will crash people's servers. But so do incompatible addons (RFC: Implement the `breaks` option in https://github.com/OCA/server-tools/tree/10.0/base_manifest_extension and use that to be able to avoid users shooting their own foot), and there will be a best practice tip that you always ever should test new modules in a test environment, right?

[2018-10-04 15:52] hbrunn opened #35 "[RFC] `breaks` in manifest"
To make the shop a pleasant experience, we should be able to tell users that some module doesn't work in their specific situation. Might be view incompatibilities, incompatible overrides or the like.

I've put a `breaks` key in the roadmap of https://github.com/OCA/server-tools/tree/10.0/base_manifest_extension, I think it would be useful to implement that for the shop. Then we can add this inform

[2018-10-04 19:21] elicoidal commented on #35
Let us know when the key is available.
cc @bizzappdev @oscarolar

[2018-10-04 19:26] elicoidal commented on #34
That is the point of tagging them Alpha IMO and this is good enough to tell the people not to use in Production.
We might add some additional text in the filename "-mature" or "-alpha" and for not stable/mature modules, I am in favor to add a warning when people clicks on "Download": "Please be aware that current version of the module is not suitable for production environment" (or similar).
What

[2018-10-05 09:03] RoelAdriaans commented on #35
Key should first be made in the https://github.com/OCA/interface-github/ repo in github_connector_oca module..

It the breaks already an official maintainers key? There is also an conflits key, don't they do the same thing?

[2018-10-05 10:12] hbrunn commented on #35
do you mean there is already a `conflicts` key in Odoo? If so, we absolutely use this and backport as a module to earlier versions. Or are you proposing to call it `conflicts` instead of `breaks`? In that case, I just read the [debian policy manual](https://www.debian.org/doc/debian-policy/ch-relationships.html#packages-which-break-other-packages-breaks) about that, and the difference there is ver

[2018-10-06 15:21] elicoidal commented on #35
one way or another is fine by me (better the Odoo one if any)

[2018-10-08 09:22] bizzappdev commented on #26
@elicoidal  This will be solved by https://github.com/OCA/apps-store/pull/25/files

[2018-10-08 09:28] bizzappdev commented on #31
@elicoidal  Seems like somehow the product variant and the module version link is missing. I will try to setup everything my local and try to reproduce same.

[2018-10-08 09:28] bizzappdev commented on #32
@elicoidal  related to #31

[2018-10-08 09:31] bizzappdev commented on #28
This will be solved by https://github.com/OCA/apps-store/pull/25

[2018-10-08 09:34] bizzappdev commented on #27
@elicoidal  Agree.
we should also have the sorting properly when the search will be done.
priority:
1. Name of the module
2. Author Of the Module.
3. Description of the module.

Please correct if sorting order should be different

[2018-10-08 09:36] bizzappdev commented on #30
@elicoidal  for that we have to keep a record for the downloaded module.
do we have to go with Logged in user wise or IP wise download or just plain Download has to be there?

[2018-10-08 09:49] StephanRozendaal commented on #27
I like the proposition of @elicoidal
1. Sort on latest version of Odoo
2a. Sort on commit date of the specific module
or
2b. Sort on alphabetical order of module.

In this case my preference goes to commit date, because this is similar to what github does on the repos in OCA.

[2018-10-08 09:50] StephanRozendaal commented on #26
@bizzappdev Are you sure that PR will fix it?
It seems to be a proxy setting on the server odoo-community.org is running on.
Who can look into this?

[2018-10-08 09:53] bizzappdev commented on #27
@StephanRozendaal Yes, that is when nothing in search.
but if the search will be provided then the search keyword also has to be respected.

Sorry I was not clear on my first comment.

[2018-10-08 09:55] bizzappdev commented on #26
@StephanRozendaal I am sure it will solve. because it is right now using {{request.httprequest.url_root}} and it has http and not https.
for more check the screenshot.
![selection_214](https://user-images.githubusercontent.com/4273984/46602662-69cfb200-cb0e-11e8-8df5-585673c47419.jpg)

[2018-10-08 10:04] StephanRozendaal commented on #27
@bizzappdev Ah right, I understand now!
I agree with you on which fields to search.

[2018-10-08 10:05] StephanRozendaal commented on #26
@bizzappdev You are right!

[2018-10-08 10:13] StephanRozendaal commented on #30
I'd say we count the downloads when the download action is triggered from Odoo.

[2018-10-08 10:17] bizzappdev commented on #30
then it will be possible to download modules from the script and like normal odoo apps store. everyone will try to increase the count of their own module. at the end, we will not have proper count data.

[2018-10-08 14:13] elicoidal commented on #26
@gurneyalex Is this something we need to look into our nginx?

[2018-10-08 14:31] elicoidal commented on #27
I am not sure sorting on description will provide relevant output.
We should select between Author/version/Category which seems the simplest and less problematic

[2018-10-08 14:32] #32 closed

[2018-10-08 14:32] elicoidal commented on #31
Let us know if you some insight from the instance (cc @gurneyalex @sbidoul @pedrobaeza )

[2018-10-08 14:36] elicoidal commented on #30
@bizzappdev there is always this possibility indeed.
I think the population of the OCA is not really this kind of player but that is a possibility.
BTW, Shall we add a captcha for the download screen?
Maybe we record a log for every download (IP, user name, module name, version, date/time)

cc @OCA/board

[2018-10-08 15:17] bizzappdev commented on #30
@elicoidal  yes we can have record IP, Module name version, DateTime. Not sure about username because right now it is possible to download without login.
we can go with the login user only or the captcha.

[2018-10-09 14:29] elicoidal commented on #30
I think Catpcha is good enough. I am a bit worried about recording the username for GDPR reasons. cc @OCA/board

[2018-10-09 14:42] bizzappdev commented on #30
okay, that will be perfect.

[2018-10-11 16:28] pedrobaeza commented on #31
Any news on this?

[2018-10-11 16:36] pedrobaeza commented on #26
I think it can be proxy_mode = True conf value. cc @sbidoul

[2018-10-11 16:47] bizzappdev commented on #31
No. Tomorrow I will debug. It was busy days for me after trip to Belgium. Sorry for delay.

[2018-10-11 16:49] sbidoul commented on #26
proxy_mode was indeed false. This is fixed now.

[2018-10-11 16:50] pedrobaeza commented on #31
Yeah, it's understandable. No worry.

[2018-10-12 09:05] bizzappdev commented on #31
I did some debugging and found that.
From Github interface for each module, it is creating `Odoo Module` branch it is creating `Odoo Module version`.
based on that module we are creating the Product Template and for each Odoo Module Version we are creating/adding the attribute value and linking the product.product with that odoo module version with `odoo_module_version_id` field.

Now when second

[2018-10-12 09:05] bizzappdev commented on #31
cc @elicoidal  @pedrobaeza

[2018-10-12 14:25] sbidoul commented on #31
cc @legalsylvain

[2018-10-12 14:34] legalsylvain commented on #31
Hi @sbidoul. I answered in OCA/interface-github#30

[2018-10-12 14:38] #26 closed

[2018-10-26 06:38] elicoidal commented on #31
Normally this issue should be fixed when the code is updated in the ERP

[2018-10-30 02:43] elicoidal commented on #31
@bizzappdev @sbidoul it seems that thisis not yet fixed.
Could you have a look?

[2018-10-30 17:52] bizzappdev commented on #31
@sbidoul can we arrange screen sharing session or somehow to solve the problem as I have to check. Let me know your convenient time so I can make myself available.

[2018-11-02 10:19] sbidoul commented on #31
@bizzappdev @elicoidal I'll make some time for this today. Can you point me to a page that shows the problem? For instance https://odoo-community.org/shop/product/mis-builder-budget-1639 looks good to me (except the rendering of the readme, but that's another story).

[2018-11-02 10:23] bizzappdev commented on #31
@sbidoul  yes you are right. Seems like mostly all modules are proper now.
I have checked different 10 modules are looks Perfect for me also.

[2018-11-02 10:32] sbidoul commented on #35
@hbrunn such a key exists and is supported in Odoo 11. It's named [excludes](https://github.com/odoo/odoo/blob/a587325ca7a2da58cea5f1b8075426e92d114e61/odoo/addons/base/module/module.py#L711). In some modules we have used `conflicts` in the past but it was only informative.

[2018-11-02 10:32] legalsylvain commented on #31
Weird, the description is well displayed in the back office.

https://odoo-community.org/web#id=1305&view_type=form&model=odoo.module&menu_id=567&action=793

Nice ! Well done.

[2018-11-02 10:35] sbidoul commented on #31
Great, thanks for the work!

[2018-11-02 10:36] sbidoul opened #37 "Bad rendering of links inside README"
Example:

https://odoo-community.org/shop/product/mis-builder-budget-1639
![image](https://user-images.githubusercontent.com/692075/47910525-75a35f80-de93-11e8-8077-a2020dbbd904.png)

These render correctly in the backend or on pypi or on apps.odoo.com.

[2018-11-02 10:56] bizzappdev commented on #31
@sbidoul  can you please check https://odoo-community.org/shop/product/management-system-audits-audit-trail-tracking-953?search=audit

[2018-11-02 11:10] sbidoul commented on #31
What should I check? The product is there in the backend with the 7.0 attribute.
![image](https://user-images.githubusercontent.com/692075/47912250-3fb4aa00-de98-11e8-9efd-2a4b4b016d9b.png)

[2018-11-02 11:17] sbidoul commented on #31
@bizzappdev the odoo.module is linked to the product template:

[code]

[2018-11-02 11:40] bizzappdev commented on #31
@sbidoul yes. that is proper.
what about the product.product's odoo_module_version_id field value for that particular product variant.
Also, make sure that there is a odoo module version for the 1963 id in the database.
if you need to trace this quickly then we can do from anydesk. and skype call.

[2018-11-02 11:50] sbidoul commented on #31
Module version is present:

[code]
But odoo_module_version_id is empty for that variant:

[code]

[2018-11-02 11:59] bizzappdev commented on #31
I doubt that you have mixed the module_id and product_tmpl_id
product_tmpl_id is 1622
can you fire this query and check the result.

[code]
if there is a record then try to execute the Same server action on the product template with id = 1622
and check after that the https://odoo-community.org/shop/product/management-system-actions-audit-trail-tracking-1622.

[2018-11-02 12:04] sbidoul commented on #31
Hm, indeed, I mixed the ids.

[code]

Running the action on product template 1622 does not change anything.

[2018-11-02 12:13] sbidoul commented on #31
I deleted the product and recreated it using the cron. It looks ok now: https://odoo-community.org/shop/product/management-system-actions-audit-trail-tracking-2909?search=audit

Shall I do that for all products with variants not linked to an odoo_module_version?

[2018-11-02 12:16] bizzappdev commented on #31
@sbidoul yes sure if it works then sure. in any case from the server action also it is creating product.product again. so it is not a problem IMO.

[2018-11-02 12:18] sbidoul commented on #31
Ok then, I'll do this, ok for you?

[code]

[2018-11-02 12:52] sbidoul commented on #31
Done. There are now only 21 products showing the problem:

[code]

[2018-11-02 12:54] bizzappdev commented on #31
@sbidoul okay perfect, Thank you so much for the efforts. :+1:

[2018-11-02 12:56] sbidoul commented on #31
These crash the app store, btw: https://odoo-community.org/shop/product/medical-prescription-sale-stock-4202

[2018-11-02 13:00] bizzappdev commented on #31
@sbidoul  can you provide the error log/trceback from backend ?

[2018-11-02 13:23] sbidoul commented on #31
@bizzappdev sure:

[code]

[2018-11-02 13:26] bizzappdev commented on #31
@sbidoul  seems like that product does not have any version/attributes configured.
definitely, it needs to be fixed so that there will be no error, but we also have to check right now what is wrong with that product.

[2018-11-02 18:45] elicoidal opened #38 "Cannot select v12 in the filter"
Not clear the reason why: are modules in v12 or is it the filter itself

![screenshot from 2018-11-02 19-40-11](https://user-images.githubusercontent.com/7600613/47934546-cc328d00-ded7-11e8-9efd-a25388584c28.png)

[2018-11-02 18:46] elicoidal opened #39 "Cannot find module account_invoice_kanban"
available in v8 and v10 in https://github.com/OCA/account-invoicing

![screenshot from 2018-11-02 19-46-27](https://user-images.githubusercontent.com/7600613/47934619-0bf97480-ded8-11e8-8fa5-2f8059348911.png)

[2018-11-02 20:35] pedrobaeza commented on #39
This is because the search doesn't look on technical name.

[2018-11-03 07:53] bizzappdev commented on #39
Not sure how to reproduce.
from the below link "Just by entering the name of the product it is listed
https://odoo-community.org/shop?search=account_invoice_kanban
![selection_227](https://user-images.githubusercontent.com/4273984/47949559-950dbb80-df6b-11e8-976f-2bc30d00ae6b.jpg)

[2018-11-03 08:32] sbidoul commented on #38
Apparently the Odoo Version attribute had no value 12.0. I created it manually.

I guess the apps-store module does not create it automatically.

[2018-11-03 08:36] sbidoul commented on #38
Now I'm not sure what to do to create the products. I tried launching the product creation cron but it did nothing apparently. @bizzappdev ?

[2018-11-03 08:40] bizzappdev commented on #38
@sbidoul  Let me check the logic for the same as we were not the original developer for the creating product.
I will check and let you know

[2018-11-03 10:09] sbidoul commented on #38
I had a quick look at that code. The problem seems rather profound, as the product creation cron starts by looking at modules that have no linked product template. So at first glance it discovers new modules but it will never discover new versions of existing modules.

[2018-11-03 10:30] bizzappdev commented on #38
yes seems like you are right, We have to add an update product cron job which will support the new version added.

[2018-11-03 13:16] bizzappdev commented on #31
@sbidoul  Fix has been added at PR but you still have to find a reason why there were no attribute lines for that product.

[2018-11-04 09:53] elicoidal commented on #39
you are right: I had an additional filter on version.
Closing for stupid :smile:

[2018-11-04 09:53] #39 closed

[2018-11-04 13:52] elicoidal commented on #37
Could this be only the table of content. I know that some renderers do not take them into account.

[2018-11-10 10:29] sbidoul opened #41 "No visual feedback when selection version, maturity level from top right drop down"
When select an Odoo version from the top right drop down, it should reflected in the facets. Otherwise there is no visual feedback that a filter is active.

![image](https://user-images.githubusercontent.com/692075/48300356-e3770900-e4db-11e8-96d6-7b8034aaa1bf.png)

[2018-11-11 17:48] elicoidal commented on #38
This is currently solved so closing

[2018-11-11 17:48] #38 closed

[2018-11-11 17:49] elicoidal commented on #31
This is solved. Thanks all

[2018-11-11 17:49] #31 closed

[2018-11-11 17:52] elicoidal commented on #28
![image](https://user-images.githubusercontent.com/7600613/48316354-cda03b80-e5e2-11e8-9ad1-b471235f4b59.png)

Seems better but not completely correct.
Could we make the image bigger or like a cover (similar to odoo apps?)
cc @oscarolar @bizzappdev

[2018-11-21 09:56] bizzappdev commented on #37
this will be closed with #42

[2018-11-23 07:06] bizzappdev opened #44 "Features to be developed during OCA Days sprint India"
We can list the features to be developed during the OCA code sprint (India) on 24th Nov.

[2018-11-23 07:09] bizzappdev commented on #44
@elicoidal  can you please list the features for tomorrow?

[2018-11-23 11:22] elicoidal commented on #44
@bizzappdev thanks for the opportunity to improve the apps store!
Here are the issues that would need to be fixed:
~https://github.com/OCA/apps-store/issues/41~
https://github.com/OCA/apps-store/issues/37 (some solutions found but not yet fully satisfactory: README is not even rendered anymore).
https://github.com/OCA/apps-store/issues/30
https://github.com/OCA/apps-store/issues/28 (currently the

[2018-11-23 11:23] elicoidal commented on #44
cc @OCA/board

[2018-11-23 11:32] bizzappdev commented on #44
@elicoidal  #41 and #37  both are already done. the PR is also linked.

for #27 and #34 are still in discussion.

[2018-11-23 11:43] elicoidal commented on #44
@bizzappdev #41, I keep it open until we have final confirmation,
#37 currently not satisfactory at least for what I have checked so far
#27 I think the proposed solution in https://github.com/OCA/apps-store/issues/27#issuecomment-427858005 is the minimum for the moment and is good enough
#34 agree: not priority

[2018-11-23 11:49] sbidoul commented on #37
@bizzappdev the repo link is correct now, but the readme is always empty.

[2018-11-23 13:11] bizzappdev commented on #37
@sbidoul  are you sure on the backend the module version has the description from README ?

[2018-11-24 02:13] elicoidal commented on #37
You can check any module in the apps store: it is empty @bizzappdev

[2018-11-24 02:27] elicoidal commented on #44
@bizzappdev do not hesitate to ping me during the dat if you need some review.

thanks again for the code sprint organization and help on the matter :smile:

[2018-11-24 03:10] bizzappdev commented on #44
Yes sure. Thank you for availability. Code sprint will start in 2 hours.

[2018-11-24 05:06] bizzappdev commented on #37
@elicoidal  yes some has while some do not display.
seems like CSS change from this issue is causing the problem
I have an alternative solution I am doing a PR but IMO the CSS experts have to review it as I am just a newbie for CSS.

[2018-11-24 07:40] bizzappdev commented on #44
#37 and #30 has been taken care.
#30 still need some code to be pushed before it is ready for testing.

[2018-11-25 03:32] #41 closed

[2018-11-27 14:01] sbidoul commented on #37
This seems to be resolved. Thanks!

[2018-11-27 14:01] #37 closed

[2018-11-27 14:02] sbidoul opened #48 "Incorrect icons"
Example here: https://odoo-community.org/shop/product/mis-builder-1636?search=mis+builder

The acsone icon should not be there. It is not obvious where it comes from, as it is used nowhere in that module in github.

[2018-11-27 14:56] elicoidal commented on #48
It is probably due to the fact that the algorithm will try to explore any kind of image in the module to display in front and pick the one of the contributor/maintainer in case of absence (a guess as I didnot revisit the code).

We should probably discuss the basic selection rules for images (in order of priority):
1. image tag in manifest
2. icon in description folder
3. standard OCA icon

cc @OC

[2018-11-27 14:57] pedrobaeza commented on #48
The module icon should have priority for sure.

[2018-11-27 15:15] elicoidal commented on #48
I am not sure here.
I would like to achieve this:

![image](https://user-images.githubusercontent.com/7600613/49091141-7c897c00-f25f-11e8-81ca-3549d4ad628d.png)

and icons are not suitable by default for this: an image with proper design is better

[2018-11-27 15:16] pedrobaeza commented on #48
Well, that's not what is achieved right now any way.

[2018-11-27 15:29] elicoidal commented on #48
I know: we are still finetuning :wink:

[2018-11-28 07:03] bizzappdev commented on #48
it is taking the priority from https://github.com/OCA/interface-github/blob/11.0/github_connector_odoo/models/odoo_module_version.py#L23
as static/src/img path is first it is taking the icon from that path.
https://github.com/OCA/mis-builder/blob/8.0/mis_builder/static/src/img/icon.png

[2018-11-28 09:14] pedrobaeza commented on #48
Agh, curious thing! It's taking an old icon (valid for <v8) that hasn't been removed through all versions. @sbidoul can you please remove it in all branches? Or should I?

[2018-12-03 08:43] elicoidal opened #49 "Search filter is lost when paging the results"
![peek 2018-12-03 09-41](https://user-images.githubusercontent.com/7600613/49362671-a9b2b000-f6df-11e8-86ba-9520c07ebd06.gif)

1. input a text for search "account currency"
2. Click on page 2 button
Expected result: see page 2 of the search result
Current result: the search text is remove and page 2 is irrelevant

[2018-12-03 08:46] elicoidal opened #50 "[RFC] Add the module technical name in front page"
Currently a lot of developers are referring to the modules via their technical names.
I suggest to add the technical name in the kanban view (first line).

cc @OCA/board

[2018-12-03 09:45] #49 closed

[2018-12-03 13:27] elicoidal commented on #28
@bizzappdev It seems that we still have the issue:
![image](https://user-images.githubusercontent.com/7600613/49376283-0c6b7200-f707-11e8-8465-64a23fa6eab1.png)

I would suggest the following but not sure how feasible or simple:
* If image key present in the manifest, we use the image and it should be the full size of the space (like in odoo apps) either in the kanban or in the form detailed page

[2018-12-24 12:09] bizzappdev commented on #30
Solved with https://github.com/OCA/apps-store/pull/46

[2018-12-24 12:19] bizzappdev opened #53 "[RFC] Priority for search result"
Currently when we search it is searching directly on the name, desc, rst/html desc, author and everything.
The result is we have a lot of modules in search and the real meaningful module will be pointed out.

IMO we should have smart sorting (or maybe a proper name) option for sort, which will search include the apps in below orders
1. match with the technical name "=" operator
2. match with the n

[2018-12-24 12:20] bizzappdev commented on #53
@elicoidal @OCA/board  your suggestions are needed

[2018-12-25 07:08] elicoidal commented on #53
Personally I would stick to
* Name
* Technical name
* summary
* author for the search

Ideally we should have a page "advanced search" where we could tick the fields to search in.
I think it is too soon for that (and too complex).
Maybe have a simple tick box "Search in README.rst and index.html too" below the search field.

[2018-12-25 07:16] #30 closed

[2019-01-03 06:35] bizzappdev commented on #53
yes adding simple boolean will also solve the problem.
and what about the search with separate words or entire like "Audit Log" or "Audit" and "Log"

I also would like to propose that we should have a direct URL structure based on version and technical name. will that be an added value?

[2019-01-04 07:01] elicoidal commented on #53
Personally prefer "Audit Log" but I am sure there are many opinion for one or the other.

We could add a checkbox "Search all terms" (and later why not a "Fuzzy search" one)
@bizzappdev

[2019-02-15 02:02] elicoidal commented on #48
@sbidoul @pedrobaeza Is this taken care of? Is there anything we could help?

[2019-02-15 02:05] elicoidal commented on #48
@bizzappdev What do you think about the image management?
Today we have another open issue #28 where the image is not even and I think we can improve without much work.
Shall I start a specific issue for that?

[2019-02-15 02:07] elicoidal commented on #53
@bizzappdev What about this (simple case): is it achieved with current version?

[2019-02-15 02:07] #50 closed

[2019-02-15 02:08] #44 closed

[2019-02-15 08:52] pedrobaeza commented on #48
In this case, @sbidoul should remove that old icon in the repo.

[2019-02-15 08:57] bizzappdev commented on #53
@elicoidal  Sorry, I completely missed that. yes, it is achievable.
basically, default it will search on entire work and if Boolean is there then it will search for all words. easy and achievable.

[2019-02-15 09:44] sbidoul commented on #48
Sorry guys, I lost the thread. What should I do exactly?

[2019-02-15 09:47] pedrobaeza commented on #48
Remove the acsone icon in mis-builder in the offending route (static/src/img/icon.png).

[2019-02-15 09:48] sbidoul commented on #48
At least the link above shows a [404](https://github.com/OCA/mis-builder/blob/8.0/mis_builder/static/src/img/icon.png) since many weeks. Is there another one?

[2019-02-15 10:10] bizzappdev commented on #48
yes as it has been already taken care https://github.com/OCA/mis-builder/commit/9b8f7010522515a174433e56890eff261525eafe
and also proper Image is on app store.
https://odoo-community.org/shop/product/mis-builder-1636?search=mis+builder

[2019-02-15 10:11] pedrobaeza commented on #48
Ok, then this should be correct and can be closed.

[2019-02-17 23:42] #48 closed

[2019-02-17 23:43] elicoidal commented on #53
Agree

[2019-02-18 08:33] bizzappdev commented on #53
okay, Perfect, we will work on the same this week.

[2019-03-12 11:21] pedrobaeza opened #56 "Link target incorrect in repository reference"
If I change the version in the module page, the text of the link changes, but not the target:

![Selección_035](https://user-images.githubusercontent.com/7165771/54196318-637ca200-44c1-11e9-9b60-5252d60842fb.png)

[2019-03-12 11:22] pedrobaeza commented on #56
cc @elicoidal @bizzappdev

[2019-03-12 14:44] #56 closed

[2019-03-27 13:49] bizzappdev commented on #53
#58 created for the same. sorry for delay

[2019-04-27 21:24] pedrobaeza commented on #13
Completed

[2019-04-27 21:24] #13 closed

[2019-05-06 06:38] #28 closed

[2019-09-29 21:27] OCA-git-bot opened #68 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] apps_download - By @Tardo - #75
- [x] apps_product_creator - By @CarlosRoca13 - #74
- [x] website_apps_store - By @Tardo - #76

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2019-10-01 08:55] dreispt opened #69 "Search is not working properly"
Although the [current code](https://github.com/OCA/apps-store/blob/12.0/website_apps_store/controllers/main.py#L26) is performing a search on all the relevant fields, including technical name, name and descriptions, my experience in the App store is that it is not working as expected.

Specific example:

- there is a [`auth_topt`](https://github.com/OCA/server-auth/tree/12.0/auth_totp) module, "MF

[2019-10-01 08:58] pedrobaeza commented on #69
hehe, you are searching `topt` instead of `totp`.

[2019-10-01 09:20] moylop260 commented on #69
So fixed

[2019-10-01 09:20] #69 closed

[2019-10-01 10:56] dreispt commented on #69
No, I'm still broken 😝
Thanks for spotting the obvious Pedro.

[2019-11-12 10:12] Yajo opened #70 "Error on account_banking_payment_export v8"
This is how `account_banking_payment_export` looks for version 8.0:

![Captura de pantalla de 2019-11-12 10-11-42](https://user-images.githubusercontent.com/973709/68662510-d9e01100-0534-11ea-8ac8-f900a8f5b2bc.png)

For lower versions, it looks good.

Link: https://odoo-community.org/shop/product/account-banking-payments-export-infrastructure-121

[2019-11-12 10:17] bizzappdev commented on #70
Module is there for v8 version
https://github.com/OCA/bank-payment/tree/8.0/account_banking_payment_export

seems like some missing data from git module.
Can anyone check from the backend about what is missing or any error while getting module information or something?

[2020-01-29 08:31] yajo opened #72 "Order of module results doesn't help"
See, I've made a search for the module `l10n_es_toponyms` and these are the results:

![Captura de pantalla de 2020-01-29 08-20-12](https://user-images.githubusercontent.com/973709/73339302-61a20580-4270-11ea-8e33-0e2f66210080.png)

As you can see, the most important result appears last. This is something that keeps bugging me around. It seems like the search also matches when a module depends on

[2020-01-29 08:32] pedrobaeza commented on #72
This must go in https://github.com/OCA/apps-store

[2020-01-29 08:40] yajo commented on #72
Can you move the issue? I think the option exists for repo admins.

[2020-01-29 08:41] pedrobaeza commented on #72
Indeed, I didn't know that option.

[2020-08-13 08:52] #68 closed

[2020-10-04 10:21] OCA-git-bot opened #77 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] apps_download - By @ernestotejeda - #85
- [x] apps_product_creator - By @ernestotejeda - #83
- [ ] website_apps_store - By @ernestotejeda - #86

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2020-12-26 12:08] sbidoul opened #78 "[13.0] internal server error on download"
I got this when trying to download from https://odoo-community.org/shop/product/mis-builder-budget-1639
[code]

[2020-12-26 15:19] pedrobaeza commented on #78
Fixed in 48d0855

[2020-12-26 15:19] #78 closed

[2020-12-26 19:13] sbidoul commented on #78
And deployed.

[2020-12-26 19:18] pedrobaeza commented on #78
Agh, still with problems. I will test all the flow on local (although it's very complicated due to all the dependencies and pre-requisites). I will tell you when done.

The error is now:
<details>

[code]

</details>

[2021-03-01 09:13] rousseldenis opened #79 "Categories sync / Odoo"
It seems that Odoo modules categories are inconsistent through versions.

- 14.0:
https://github.com/odoo/odoo/blob/14.0/addons/stock/__manifest__.py#L11

- 12.0:
https://github.com/odoo/odoo/blob/12.0/addons/stock/__manifest__.py#L11

I'm wondering what should we do with OCA apps site helping people filtering modules per categories.

Either staying with original ones ?

Or breaking with Odoo ones

[2021-03-08 18:27] pedrobaeza commented on #79
Maybe we can create some kind of mapping for homogenizing them.

[2021-03-10 12:25] rousseldenis commented on #79
Yeah, that's sound good. We create an RFC for this? In order to fill in documentation accordingly etc,...

[2021-03-11 16:23] pedrobaeza commented on #79
I would say to have a new model

`odoo.module.category.public` or similar, with a translatable name, and a table that maps odoo.version and odoo.module.category, and we convert the Odoo category into the public one dynamically on apps store.

We also provide as standard data the mapping for Odoo core categories.

[2021-06-06 16:39] RachidAlassir opened #80 "[13.0] apps_download: Error while trying to download an app (base_import_async)"
Error while trying to download an app (base_import_async)

![image](https://user-images.githubusercontent.com/48803268/120932538-29c19280-c6ee-11eb-89c9-bcfe0c22380f.png)

[2021-06-09 09:33] sbidoul commented on #80
The download does not seem to work after deploying #81. I see no error in the logs though.

[2021-06-09 10:30] joao-p-marques commented on #80
@sbidoul should be fixed with #82

This was another error missed in the migration.

[2021-08-11 08:47] magicquin opened #84 "[13.0] Apps Store"
Hi All,

First off, really appreciate all the hard work you all do!!

Not sure to call this an issue, perhaps more of my probably just not sure I am using the addons correctly. With my use case, Its not to provide download for odoo modules, but to mobile applications I have I have built.

I create the product, I then add the android files, I then add my own variants, I then update the variant info

[2021-08-11 10:59] pedrobaeza commented on #84
Sorry, but any custom development is not supported here as issue. Ask in general forums. You can see that this is working in https://odoo-community.org/shop

[2021-08-11 10:59] #84 closed

[2021-10-17 10:13] OCA-git-bot opened #87 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] apps_download
- [ ] apps_product_creator
- [ ] website_apps_store

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-10-03 16:19] sbidoul opened #89 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list